@import "../index.scss";

.input-text {
  i {
    position: absolute;
    text-align: center;
    color: $main-color;
    font-size: 1.5rem;
    padding: 0.7rem 0.5rem;
  }

  .icon-focus {
    color: lighten($main-color, 30%);
  }

  label {
    position: absolute;
    font-size: 0.8rem;
    color: $invalid-color;
    text-align: center;
    padding: 3rem 0.1rem;
  }
}

.input-field {
  width: 100%;
  border-radius: 0.7rem;
  height: 2rem;
  border: 0.2rem solid $main-color;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0.2rem;

  &:focus {
    outline: none;
    border: 0.2rem solid lighten($main-color, 30%);
  }
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  padding-bottom: 1.5rem;
  input[type="text"],
  input[type="password"] {
    border: 0.2rem solid $invalid-color;
  }

  i {
    color: $invalid-color;
  }
}

@keyframes shake {
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateX(0.5rem);
  }
}
